<!DOCTYPE html>
<html>
<head>
    <title>mainpage</title>
    
</head>
<body>
    <h1>scripts</h1>
    {% comment %}
    <!-- <form method="post" action="{% url 'start_scheduler' %}">
        {% csrf_token %}
        <button type="submit">Start Scheduler</button>
    </form>
    <form method="post" action="{% url 'stop_scheduler' %}">
        {% csrf_token %}
        <button type="submit">Stop Scheduler</button>
    </form> -->
    <!-- <form method="post" action="{% url 'parse_news' %}">
        {% csrf_token %}
        <button type="submit">Start Parsing</button>
    </form> -->
    {% endcomment %} 
    <div class="btn">
        <li>
            <ul>
                <a href="{% url 'run_puppeteer' %}">Go to Puppeteer</a>
            </ul>
            <ul>
                <a href="{% url 'get_news' %}">Get News For DB</a>
            </ul>
        </li>
    </div>

    <style>
        .btn {
            display: inline-block;
        }
        a {
            display: inline-block;
            text-decoration: none;
            color: white;
            font-size: 20px;
            font-family: "Arial";
            background-color: #38098f;
            padding: 5px 12px;
            border-radius: 30px;
        }

        ul {
            list-style-type: none;
        }
    </style>
</body>
</html>
