<!-- news.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Криптоновости</title>
</head>
<body>
    <h1>Криптоновости</h1>
    <ul>
        {% for item in news %}
            <h1>{{ item.crypto_name }}</h1>
            
            <h3>{{ item.title }}</h3>

            <p>
                {{item.content}}
            </p>

            <h3>URL: <a class="news_link" href="{{item.url}}">{{item.url}}</a></h3>

            {{item.time}}
        {% endfor %}
    </ul>

    <style>
        .news_link {
            text-decoration: none;
        }
    </style>
</body>
</html>
